.right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.left{
  display: flex;
  align-items: flex-start;
  justify-content: left;
}
